.email {
  background-color: #FFFFFF;
  padding:8px;
  border-bottom:1px solid black;
  font-weight:bold; 
}

.is-read {
    font-weight:normal; 
    background-color: #EEEEEE;
}
a { 
  text-decoration:none;
  color: #000;
}
