.button {
    background-color:#7986CB;
    padding: 12px 18px;
    font-size: 16px;
    color: black;
    text-align: center;
}
.input{
    width: 400px;
    height: 21px;
}

.textarea{
    width: 500px;
    height: 150px;
}

